Repository muhandojeon/The-Pragmatic-Programmer, pull requests merged in 2024-09, with the labels that each got.

#57 [신승준] 6장: 동시성
  6장/신승준.md
Labels: 6장

#64 [백지연] 7장: 코딩하는 동안
  6장/백지연.md
  7장/백지연.md
Labels: 7장

#65 [박상범] 7장: 코딩하는 동안
  7장/상범.md
Labels: 7장

#62 [오혜성] 7장: 프로젝트 전에
  7장/오혜성.md
Labels: 7장

#66 [이유희] 7장: 코딩하는 동안
  7장/이유희.md
Labels: 7장

#67 [이상조] 7장: 코딩하는 동안
  7장/이상조.md
Labels: 7장

#59 [이상조] 6장: 동시성
  6장/이상조.md
Labels: 6장

#47 [이상조] 5장: 구부러지거나 부러지거나
  5장/이상조.md
Labels: 5장

#75 [백지연] 9장: 실용주의 프로젝트
  9장/백지연.md
Labels: 9장

#72 [박상범] 8장: 프로젝트 전에
  8장/상범.md
Labels: 8장

#74 [박상범] 9장: 실용주의 프로젝트
  9장/상범.md
Labels: 9장

#79 [이상조] 8장: 프로젝트 전에
  8장/이상조.md
Labels: 8장

#81 [이상조] 9장: 실용주의 프로젝트
  9장/이상조.md
Labels: 9장

#63 [오혜성] 8장: 실용주의 프로젝트
  8장/오혜성.md
Labels: 8장

#80 [박승훈] 9장: 실용주의 프로젝트
  9장/박승훈.md
Labels: 9장

#78 [박승훈] 8장: 프로젝트 전에
  8장/박승훈.md
Labels: 8장

#34 [정리] 3장
  3장/정리.md
Labels: 3장

#70 [박승훈] 7장: 코딩하는 동안
  7장/박승훈.md
Labels: 7장

#76 [신승준] 8장: 프로젝트 전에
  8장/신승준.md
Labels: 8장

#77 [신승준] 9장: 실용주의 프로젝트
  9장/신승준.md
Labels: 9장

#55 [박승훈] 6장: 동시성
  6장/박승훈.md
Labels: 6장
