Repository muhandojeon/The-Pragmatic-Programmer, pull requests merged in 2024-08, with the labels that each got.

#4 [오혜성] 1장: 실용주의 철학
  1장/오혜성.md
Labels: 1장

#5 [오혜성] 2장: 실용주의 접근법
  2장/오혜성.md
Labels: 2장

#3 [백지연] 챕터 1: 실용주의 철학
  1장/백지연.md
Labels: 1장

#11 [백지연] 챕터 2: 실용주의 접근법
  2장/백지연.md
Labels: 2장

#21 [정리] 챕터 1, 2
  1장/정리.md
  2장/정리.md
Labels: 1장, 2장

#10 [서준환] 챕터 1: 실용주의 철학
  1장/서준환.md
Labels: 1장

#19 [서준환] 챕터 2: 실용주의 접근법
  2장/서준환.md
Labels: 2장

#15 [이유희] 챕터 2: 실용주의 접근법
  2장/이유희.md
Labels: 2장

#7 [이유희] 챕터 1: 실용주의 철학
  1장/이유희.md
Labels: 1장

#13 [박상범] 챕터 1: 실용주의 철학
  1장/상범.md
Labels: 1장

#18 [박상범] 챕터 2: 실용주의 접근법
  2장/상범.md
Labels: 2장

#12 [신승준] 챕터 1: 실용주의 철학
  1장/신승준.md
Labels: 1장

#20 [신승준] 챕터 2: 실용주의 접근법
  2장/신승준.md
Labels: 2장

#6 [이상조] 챕터 1: 실용주의 철학
  1장/이상조.md
Labels: 1장

#14 [이상조] 챕터 2: 실용주의 접근법
  2장/이상조.md
Labels: 2장

#16 [변수미] 챕터 1: 실용주의 철학
  1장/변수미.md
Labels: 1장

#17 [변수미] 챕터 2: 실용주의 접근법
  2장/변수미.md
Labels: 2장

#8 [박승훈] 챕터 1: 실용주의 철학
  1장/박승훈.md
Labels: 1장

#23 [백지연] 3장: 기본 도구
  3장/백지연.md
Labels: 3장

#9 [박승훈] 챕터 2: 실용주의 접근법
  2장/박승훈.md
Labels: 2장

#32 [이유희] 3장: 기본 도구
  3장/이유희.md
Labels: 3장

#27 [박상범] 챕터 3: 기본 도구
  3장/상범.md
Labels: 3장

#31 [이상조] 챕터 3: 기본 도구
  3장/이상조.md
Labels: 3장

#22 [오혜성] 3장: 기본적인 도구
  3장/오혜성.md
Labels: 3장

#24 [박승훈] 챕터 3: 기본 도구
  3장/박승훈.md
Labels: 3장

#28 [서준환] 챕터 3: 기본 도구
  3장/서준환.md
Labels: 3장

#30 [신승준] 3장: 기본 도구
  3장/신승준.md
Labels: 3장

#36 [백지연] 4장: 실용주의 편집증
  4장/백지연.md
Labels: 4장

#26 [오혜성] 4장: 실용주의 편집증
  4장/오혜성.md
Labels: 4장

#42 [박승훈] 4장: 실용주의 편집증
  4장/박승훈.md
Labels: 4장

#38 [이상조] 4장: 실용주의 편집증
  4장/이상조.md
Labels: 4장

#39 [서준환] 4장: 실용주의 편집증
  4장/서준환.md
Labels: 4장

#40 [신승준] 4장: 실용주의 편집증
  4장/신승준.md
Labels: 4장

#41 [이유희] 4장: 실용주의 편집증
  4장/이유희.md
Labels: 4장

#33 [변수미] 3장: 기본 도구
  3장/변수미.md
Labels: 3장

#43 [변수미] 4장: 실용주의 편집증
  4장/변수미.md
Labels: 4장

#37 [박상범] 4장: 실용주의 편집증
  4장/박상범.md
Labels: 4장

#46 [백지연] 5장: 구부러지거나 부러지거나
  5장/백지연.md
Labels: 5장

#35 [오혜성] 5장: 구부러지거나 부러지거나
  5장/오혜성.md
Labels: 5장

#48 [서준환] 5장: 구부러지거나 부러지거나
  5장/서준환.md
Labels: 5장

#29 [김동규] 3장: 기본도구
  3장/김동규.md
Labels: 3장

#45 [김동규] 5장: 구부러지거나 부러지거나
  5장/김동규.md
Labels: 5장

#54 [정리] 5장
  5장/정리.md
Labels: 5장

#49 [박승훈] 5장: 구부러지거나 부러지거나
  5장/박승훈.md
Labels: 5장

#51 [신승준] 5장: 구부러지거나 부러지거나
  5장/신승준.md
Labels: 5장

#58 [이유희] 6장: 동시성
  6장/이유희.md
Labels: 6장

#56 [백지연] 6장: 동시성
  6장/백지연.md
Labels: 6장

#52 [박상범] 5장: 구부러지거나 부러지거나
  5장/박상범.md
Labels: 5장

#50 [오혜성] 6장: 코딩하는 동안 해야 할 일들
  6장/오혜성.md
Labels: 6장
