Repository muhandojeon/The-Pragmatic-Programmer, pull requests merged in 2024-11, with the labels that each got.

#53 [변수미] 5장: 구부러지거나 부러지거나
  5장/변수미.md
Labels: 5장

#60 [변수미] 6장: 동시성
  6장/변수미.md
Labels: 6장

#61 [정리] 6장: 동시성
  6장/정리.md
Labels: 6장

#68 [변수미] 7장: 코딩하는 동안
  7장/변수미.md
Labels: 7장
